[build]
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app"
  status = 200
  force = true 

[functions]
  external_node_modules = ["ejs"]
  included_files = ["views/**", "public/**"]